/* Write your CSS here */

.list-container {
  height: 56px;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.on-copy {
  height: 30px;
  width: 30px;
}

.button {
  background-color: transparent;
  outline: none;
  border-color: transparent;
}
